body {
    margin: 0 auto;
    width: 70%;
}
header {
    background-color: #084887;
    display: flex;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    border-top: 2px solid;
}
.titol {
    display: block;
    margin-bottom: 4%;
    
}
nav {
    width: 40%;
    padding-right: 20%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(11, 5, 5);
    text-decoration: none;
}
.link_llicencia {
    color: black;

}
.link_llicencia:hover{
    color: blue;

}
button {    
    background-color: dodgerblue;
    color: white; 
    padding: 12px 20px  ;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
form {
    width: 25%;
    display:flex;
    justify-content: center;
    align-items: center;
}
input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display:    inline-block;  
  }
ul {
    width: 65%;
    justify-content: space-between;
    display: inline-flex;
}
.imatges {
    width: 50%;

}
.text_articles {
    width: 70%;
    margin: 1%;
}
img {
    width: 70%;
}
li {
    list-style: none;
}

.titol h1 {
    padding-top: 1%;
    text-align: center;
    font-size: large;
    font-size: 49px;
}
h1, h2 {
    color: blue;
}
h1 {
    font-size: 36px;
}
article {
    display: flex;
}

